{% extends 'projeto_crm_final/base.html' %}
{% load widget_tweaks %}  <!-- pode ser colocado na pagina template base -->
{% block title %}Perfil{% endblock %}


{% block content %}

<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h1>Perfil de {{ perfil.user.get_full_name }}</h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p><strong>Nome:</strong> {{perfil.nome}} {{perfil.sobrenome}}</p>
          <p><strong>Email:</strong> {{perfil.user.email}}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Telefone:</strong> {{ perfil.telefone|default:"Não informado" }}</p>
          <p><strong>Role:</strong> {{ perfil.get_role_display }}</p>
          <p><strong>ID de Usuário:</strong> {{ perfil.person_id }}</p>
        </div>
      </div>
      <div class="mt-4">
        <a href="{% url 'dashboard' %}" class="btn btn-primary">
          Voltar à sua home
        </a>

      </div>
    </div>
  </div>
</div>
{% endblock %}