{% extends 'projeto_crm_final/base.html' %}
{% load widget_tweaks %}  <!-- pode ser colocado na pagina template base -->
{% block title %}Perfil{% endblock %}


{% block content %}

<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h1>Perfil de {{ perfil.user.get_full_name|capfirst }}</h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p><strong>Nome:</strong> {{perfil.nome}} {{perfil.sobrenome}}</p>
          <p><strong>Email:</strong> {{perfil.user.email}}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Telefone:</strong> {{ perfil.telefone|default:"Não informado" }}</p>
          <p><strong>Role:</strong> {{ perfil.get_role_display }}</p>
          <p><strong>ID de Usuário:</strong> {{ perfil.person_id }}</p>
        </div>
      </div>
      <div class="mt-4">
        <form method="post" action="{% url 'update_role' %}" class="role-form">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ perfil.person_id }}">
            <button type="submit" name="role" value='ADMIN' class="btn btn-primary {% if perfil.role == 'ADMIN' %}active{% endif %}">
              Tornar Admin
            </button>
        </form>
      </div>
      <div class="mt-4">
        <a href="{% url 'dashboard' %}" class="btn btn-primary">
          Voltar à sua home
        </a>

      </div>
    </div>
  </div>
</div>

<script>
document.querySelectorAll('.role-form').forEach(form => {
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const response = await fetch(form.action, {
            method: 'POST',
            body: new FormData(form),
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        });
        const data = await response.json();
        if(data.status === 'success') {
            location.reload(); // Or update UI dynamically
        } else {
            alert(data.message);
        }
    });
});
</script>

{% endblock %}